.project-list-container {
  background-color: var(--clr-intro-bg);
  border-radius: var(--card-border-radius);
  padding: 15px 5px;
}

.project-list {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 150px);
}

.project-list-item {
  color: var(--clr-nav);
  border: none;
  font-size: 20px;
  font-weight: 500;
  padding-left: 1.5rem !important;
  border-radius: 12px !important;
  transition: var(--transition);
}

.project-list-item:not(.active):hover {
  transform: translateX(10px);
  width: calc(100% - 10px);
  color: #8ecae6;
}

.project-list-item.active {
  color: white;
  width: 100%;
}
.project-list-item.active:hover {
  background-color: #00b4d8 !important;
}
