.todo-list {
  text-align: left;
}

.todo{
  line-height: 22px;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  word-break: break-all;
  border: none;
  background-color: var(--highlight-bg);
  color: var(--text-color);
  border-radius: 8px;
}

.todo-list-item:hover {
  /* background-color: var(--surface-hover); */
}

.action-btns {
  flex: 1;
}

.action-btns em {
  font-size: 20px;
  margin: 0 10px;
}
.todo-items {
  width: 90%;
}
