.project-list-container {
  padding: 15px 5px;
}

.project-list {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100dvh - 169px);
}

.p-listbox {
  transition: none;
}

@media screen and (max-width: 768px) {
  .project-list {
    height: 80vh;
  }
}
