.img-container {
  position: relative;
  width: 200px;
  aspect-ratio: 1/1;
}

.review-img {
  z-index: 3;
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.img-container::after {
  content: '';
  position: absolute;
  background-color: var(--primary-color);
  width: 200px;
  aspect-ratio: 1/1;
  left: 9px;
  bottom: 5px;
  border-radius: 50%;
  z-index: 2;
}

.review-card .card-subtitle {
  text-transform: capitalize;
}

.review-card .card-body {
  gap: 10px;
}
